body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: darkgrey;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color:lightgray;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    background-color: aliceblue;
    border: 3px solid lime;

}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}

img.active {
    border: 10px solid lime;
}